<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>admin</title>
</head>
<body>
    <div th:fragment="admin(splitRatios)">
        <div id="editPageDialog">
            <div class="hd">Edit Page</div>
            <div class="bd">
                <div class="table-container">
                    <div>
                        <div>Name:</div>
                        <div><input id="page.name" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editTabDialog">
            <div class="hd">Edit Tab</div>
            <div class="bd">
                <div class="table-container">
                    <div>
                        <div>Name:</div>
                        <div><input id="tab.name" /></div>
                    </div>
                    <div>
                        <div>Index:</div>
                        <div><input id="tab.index" type="number" min="1" max="20" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editSectionDialog">
            <div class="hd">Edit Section</div>
            <div class="bd">
                <div class="table-container">
                    <div class="hidden">
                        <div>ID:</div>
                        <div><input id="section.id" disabled="disabled" readonly="readonly" /></div>
                    </div>
                    <div>
                        <div>Name:</div>
                        <div><input id="section.name" /></div>
                    </div>
                    <div>
                        <div>Index:</div>
                        <div><input id="section.index" type="number" min="1" max="20" /></div>
                    </div>
                    <div>
                        <div>Split Ratio:</div>
                        <div>
                            <select id="section.splitRatio">
                                <option th:each="item: ${splitRatios}" th:value="${item.name}" th:text="${item.title}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="hidden">
                        <div>Tab Id:</div>
                        <div><input id="section.tabId" disabled="disabled" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editSubSectionDialog">
            <div class="hd">Edit Sub-Section</div>
            <div class="bd">
                <div class="table-container">
                    <div class="hidden">
                        <div>ID:</div>
                        <div><input id="subSection.id" disabled="disabled" readonly="readonly" /></div>
                    </div>
                    <div>
                        <div>Name:</div>
                        <div><input id="subSection.name" /></div>
                    </div>
                    <div>
                        <div>Index:</div>
                        <div><input id="subSection.index" type="number" min="1" max="4" /></div>
                    </div>
                    <div class="hidden">
                        <div>Section Id:</div>
                        <div><input id="subSection.sectionId" disabled="disabled" /></div>
                    </div>
                    <div>
                        <div>Row Tag Type:</div>
                        <div th:replace="~{page::selectTagTypeFragment('subSection.rowTagType')}"></div>
                    </div>
                    <div>
                        <div>Column Tag Type:</div>
                        <div th:replace="~{page::selectTagTypeFragment('subSection.columnTagType')}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="mapSubSectionKeysDialog">
            <div class="hd">Map Sub-Section Keys</div>
            <div class="bd">
                <div id="subSectionKeys" class="yui-gd">
                    <div id="subSectionKeysSearch" class="yui-u first">
                        <div th:replace="~{ ::keysSearchFragment }"></div>
                        <div class="yui-gd nowrap" style="width: auto;">
                            <div class="yui-u first right">
                                <input type="button" id="subSectionKeysClearButton" title="Clear Search Results" value="Clear" />
                            </div>
                            <div class="yui-u">
                                <input type="button" id="subSectionKeysSearchButton" title="Search &amp; Add to Search Results" value="Search &amp; Add" />
                            </div>
                        </div>
                    </div>
                    <div class="yui-u">
                        <div id="subSectionKeysSearchResult"></div>
                    </div>
                </div>

                <div id="subSectionKeysConfig">
                    <div class="hd">Row/Column Config</div>
                    <div class="bd table-container">
                        <div class="hidden">
                            <div>ID:</div>
                            <div><input id="subSectionKeys.id" disabled="disabled" readonly="readonly" /></div>
                        </div>
                        <div class="hidden">
                            <div>Name:</div>
                            <div><input id="subSectionKeys.name" disabled="disabled" readonly="readonly" /></div>
                        </div>
                        <div>
                            <div>
                                <div>Row Tag Type:</div>
                                <div th:replace="~{page::selectTagTypeFragment('subSectionKeys.rowTagType')}"></div>
                            </div>
                            <div>
                                <div>Column Tag Type:</div>
                                <div th:replace="~{page::selectTagTypeFragment('subSectionKeys.columnTagType')}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="preview.subSection">
                    <div class="hd"></div>
                    <div class="bd" id="bd.preview.subSection">
                        <div id="data.preview.subSection"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="admin-fragments" class="hidden">
        <div th:fragment="keysSearchFragment" class="table-container">
            <div th:each="item: ${tagTypes}">
                <div th:text="|${item.id}:${item.name}|" th:title="${item.title}" class="bold"></div>
                <div th:id="|subSectionKeys.tagType.${item.id}|">
                    <input th:id="|input.subSectionKeys.tagType.${item.id}|" />
                    <div th:id="|container.subSectionKeys.tagType.${item.id}|"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
