<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{page.title}">TBD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/css/yui-combine.css" />
    <script type="text/javascript" src="/js/yui/yui-combine.js"></script>
    <script type="text/javascript" src="/js/default.js"></script>
    <style type="text/css">
        .bold { font-weight:bold; }
        .italic { font-style:italic; }
        .yui-dt-data .page-tag {
            background: transparent url(../js/yui/assets/skins/sam/sprite.png) repeat-x scroll 0 -200px;
        }
        .yui-skin-sam .yui-panel .bd { padding: inherit; }
        .yui-skin-sam .yui-dt table { width:100%; }
        /*.yui-skin-sam .yui-dt caption { text-align: inherit; }*/
    </style>
</head>
<body class="yui-skin-sam">
    <div class="yui-gc">
        <div  class="yui-u first">
            <h2 th:text="|#{page.welcome}: ${page.name}|">TBD</h2>
        </div>
        <div class="yui-u" th:fragment="logout" sec:authorize="isAuthenticated()">
            <div>
                <h1 th:inline="text"><span style="font-weight:bold">User: </span><span th:remove="tag" sec:authentication="name">TBD</span></h1>
            </div>
            <div style="float:right">
                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </div>
            <div>
                <span class="bold">Default Authorities: </span><span sec:authentication="principal.authorities"></span>
            </div>
            <div>
                <span class="bold">Mapped Authorities: </span><span sec:authentication="authorities"></span>
            </div>
        </div>
    </div>

    <div id="pageDiv" class="yui-navset">
        <ul class="yui-nav">
            <li th:each="tab: ${page.tabs}" th:id="|tab-menu.${tab.id}|">
                <a th:href="|#tab.${tab.id}|">
                    <em th:text="${tab.name}"></em>
                </a>
            </li>
        </ul>
        <div class="yui-content">
            <div th:each="tab: ${page.tabs}" th:id="|tab.${tab.id}|">
                <div th:each="s: ${tab.sections}" th:id="|section.${s.id}|"
                     th:class="${s.splitRatio.cssClass}">
                    <div class="hd" th:text="${s.name}"></div>
                    <div class="bd" th:id="|bd.section.${s.id}|">
                        <div th:each="ss, iterStat: ${s.subSections}" th:id="|subSection.${ss.id}|"
                             th:class="${iterStat.first}? 'yui-u first' : 'yui-u'">
                            <div th:id="|hd.subSection.${ss.id}|" th:text="${ss.name}"></div>
                            <div th:id="|bd.subSection.${ss.id}|">
                                <div th:id="|data.subSection.${ss.id}|"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
