<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>setup</title>
</head>
<body>
    <div th:fragment="setup()">
        <div id="tagTypeDialog">
            <div class="hd">Edit Tag Types</div>
            <div class="bd">
                <div id="tagType">
                    <div class="hd"></div>
                    <div class="bd" id="bd.tagType">
                        <div id="data.tagType"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tagDialog">
            <div class="hd">Edit Tags</div>
            <div class="bd">
                <div class="table-container">
                    <div>
                        <div class="right">Tag Type:</div>
                        <div th:replace="~{page::selectTagTypeFragment('tag.tagType')}"></div>
                    </div>
                </div>
                <div id="tag">
                    <div class="hd"></div>
                    <div class="bd" id="bd.tag">
                        <div id="data.tag"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="keyDialog">
            <div class="hd">Edit Keys</div>
            <div class="bd">
                <div id="key">
                    <div class="hd"></div>
                    <div class="bd" id="bd.key">
                        <div id="data.key"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tagByKeyDialog">
            <div class="hd">Edit Key Tags</div>
            <div class="bd">
                <div id="tagByKey">
                    <div class="hd"></div>
                    <div class="bd" id="bd.tagByKey">
                        <div id="data.tagByKey"></div>
                    </div>
                </div>
            </div>
            <div id="container.tagByKey"></div>
        </div>
        <div id="currencyDialog">
            <div class="hd">Edit Currency</div>
            <div class="bd">
                <div id="currency">
                    <div class="hd"></div>
                    <div class="bd" id="bd.currency">
                        <div id="data.currency"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exchangeDialog">
            <div class="hd">Edit Stock Exchange</div>
            <div class="bd">
                <div id="exchange">
                    <div class="hd"></div>
                    <div class="bd" id="bd.exchange">
                        <div id="data.exchange"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exchangeTickerDialog">
            <div class="hd">Edit Stock Exchange Ticker</div>
            <div class="bd">
                <div class="table-container">
                    <div>
                        <div class="right">Stock Exchange:</div>
                        <div>
                            <select id="exchangeTicker.exchange">
                                <option value="" th:text="#{option.null}"></option>
                                <option th:each="item: ${exchanges}" th:value="${item.mic}" th:text="${item.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="exchangeTicker">
                    <div class="hd"></div>
                    <div class="bd" id="bd.exchangeTicker">
                        <div id="data.exchangeTicker"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
