<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>setup</title>
</head>
<body>
    <div th:fragment="setup()">
        <div id="tagTypeDialog">
            <div class="hd">Edit Tag Types</div>
            <div class="bd">
                <div id="tagType">
                    <div class="hd"></div>
                    <div class="bd" id="bd.tagType">
                        <div id="data.tagType"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tagDialog">
            <div class="hd">Edit Tags</div>
            <div class="bd">
                <div class="table-container">
                    <div>
                        <div class="right">Tag Type:</div>
                        <div th:replace="~{page::selectTagTypeFragment('tag.tagType') }"></div>
                    </div>
                </div>
                <div id="tag">
                    <div class="hd"></div>
                    <div class="bd" id="bd.tag">
                        <div id="data.tag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
