<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user</title>
</head>
<body>
    <div th:fragment="user()">
        <div id="userDialog">
            <div class="hd">Edit Users</div>
            <div class="bd">
                <div id="user">
                    <div class="hd"></div>
                    <div class="bd" id="bd.user">
                        <div id="data.user"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
